@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
html .video {
  text-align: center;
}
html .infoText {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: start;
}
html .button {
  margin-top: 20px;
  text-align: center;
}
html .infoHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #6C63FF;
}
html .header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #cbcbcb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
html .Text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #3ACD7E;
  letter-spacing: 1px;
}
html .logo {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
html .TextSubject {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
html .questSandQ {
  margin-top: 30px;
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
html .questSandQ .speaker:hover {
  cursor: pointer;
}
html .images {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 25px;
}
html .images #image {
  max-height: 400px;
}
html #YourAnswer {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: start;
  color: #4285F4;
  font-size: 16px;
}

html[data-theme=dark] .controlDrag {
  background: none;
}
html[data-theme=dark] .subject, html[data-theme=dark] .level, html[data-theme=dark] .dragLetter, html[data-theme=dark] .text {
  color: #fff;
}
html[data-theme=dark] .video {
  text-align: center;
}
html[data-theme=dark] .infoText {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: start;
  color: #fff;
}
html[data-theme=dark] .button {
  margin-top: 20px;
  text-align: center;
}
html[data-theme=dark] .infoHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  color: #6C63FF;
}
html[data-theme=dark] .header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #cbcbcb;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
html[data-theme=dark] .Text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #3ACD7E;
  letter-spacing: 1px;
}
html[data-theme=dark] .logo {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
html[data-theme=dark] .TextSubject {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
html[data-theme=dark] .questSandQ {
  margin-top: 30px;
  display: flex;
  gap: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
html[data-theme=dark] .questSandQ .speaker:hover {
  cursor: pointer;
}
html[data-theme=dark] .images {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 25px;
}
html[data-theme=dark] .images #image {
  max-height: 400px;
}

@media only screen and (max-width: 400px) {
  html .info {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  html .info #infoVideo {
    width: 100%;
    height: 250px;
  }
  html .info .area {
    width: 80%;
    height: 100%;
  }
  html .info #closeInfo {
    width: 200px;
    height: 80px;
    background-color: rgba(108, 99, 255, 0.2);
    border: 1px solid #6C63FF;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #6C63FF;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s all;
    margin-bottom: 100px;
  }
  html .info #closeInfo:hover {
    background-color: #6C63FF;
    color: #FFFFFF;
  }
  html .info .infoText {
    padding-top: 30px;
    font-size: 16px;
  }
  html .info .infoHeader {
    padding-top: 20px;
    font-size: 18px;
  }
  html .textArea {
    width: 100%;
    height: 300px;
    position: relative;
  }
  html .textArea .textDiv {
    position: absolute;
    width: 300px;
    height: 210px;
    left: calc(50% - 150px);
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }
  html .textArea .textDiv .textAreaCompArea {
    padding-top: 5px;
  }
  html .textArea .textDiv .textAreaCompArea textarea {
    background: none;
    border: none;
    width: 100%;
    height: 120px;
    outline: none;
    font-size: 18px;
  }
  html .textArea .textDiv .sendText {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
  html .rowsABCD {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 200px;
  }
  html .rowsABCD .row-AB {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  html .rowsABCD .row-CD {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  html .answerPut {
    width: 300px;
    height: 80px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
  }
  html .answerPut #choice {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4285F4;
    line-height: 80px;
    position: absolute;
    left: 30px;
  }
  html .answerPut .questionAnswerInfos {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    line-height: 80px;
    text-align: center;
  }
  html .answerPut:hover {
    border-color: #4285F4;
  }
  html .rightAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(58, 205, 126, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
  html .rightAnswer .scos {
    position: absolute;
    display: flex;
    gap: 25px;
    top: 5px;
    left: 5px;
    align-items: center;
  }
  html .rightAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #3ACD7E;
  }
  html .rightAnswer #nextQstnTrue {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #3ACD7E;
    background: none;
    border: none;
    cursor: pointer;
  }
  html .falseAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(234, 67, 53, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html .falseAnswer .scos {
    position: absolute;
    display: flex;
    gap: 25px;
    top: 5px;
    left: 5px;
    align-items: center;
  }
  html .falseAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #EA4335;
  }
  html .falseAnswer #nextQstnFalse {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #EA4335;
    background: none;
    border: none;
    cursor: pointer;
  }
  html .mobile-Note {
    width: 95%;
    padding-top: 20px;
    text-align: end;
  }
  html .newNote {
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFF;
    border-left: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
  }
  html .newNote .noteCount {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html .newNote .noteCount #count {
    font-weight: 600;
  }
  html .newNote .head {
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }
  html .newNote .head .close-Popup {
    cursor: pointer;
    justify-self: start;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  html .newNote .head .content {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 26px;
  }
  html .newNote .notSend {
    width: 80%;
    height: 150px;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    padding: 5px;
    position: relative;
  }
  html .newNote .notSend textarea {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    resize: none;
  }
  html .newNote .notSend #sendNote {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  html .newNote .myNote {
    width: 80%;
    height: 300px;
    overflow: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
  }
  html .newNote .myNote .note {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  html .newNote .myNote .note .LessonNote {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    max-width: 100%;
    word-break: break-all;
  }
  html .newNote .myNote::-webkit-scrollbar {
    width: 12px;
  }
  html .newNote .myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html .newNote .myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html .Text {
    font-size: 18px;
  }
  html .TextSubject {
    font-size: 18px;
  }
  html[data-theme=dark] {
    background: #232323;
  }
  html[data-theme=dark] .info {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  html[data-theme=dark] .info #infoVideo {
    width: 100%;
    height: 250px;
  }
  html[data-theme=dark] .info .area {
    width: 80%;
    height: 100%;
  }
  html[data-theme=dark] .info #closeInfo {
    width: 200px;
    height: 80px;
    background-color: rgba(108, 99, 255, 0.2);
    border: 1px solid #6C63FF;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #6C63FF;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s all;
    margin-bottom: 100px;
  }
  html[data-theme=dark] .info #closeInfo:hover {
    background-color: #6C63FF;
    color: #FFFFFF;
  }
  html[data-theme=dark] .info .infoText {
    padding-top: 30px;
    font-size: 16px;
    color: #fff;
  }
  html[data-theme=dark] .info .infoHeader {
    padding-top: 20px;
    font-size: 18px;
    color: #fff;
  }
  html[data-theme=dark] .textArea {
    width: 100%;
    height: 300px;
    position: relative;
  }
  html[data-theme=dark] .textArea .textDiv {
    position: absolute;
    width: 300px;
    height: 210px;
    left: calc(50% - 150px);
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }
  html[data-theme=dark] .textArea .textDiv .textAreaCompArea {
    padding-top: 5px;
  }
  html[data-theme=dark] .textArea .textDiv .textAreaCompArea textarea {
    background: none;
    border: none;
    width: 100%;
    height: 120px;
    outline: none;
    font-size: 18px;
    color: #fff;
  }
  html[data-theme=dark] .textArea .textDiv .sendText {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
  html[data-theme=dark] .rowsABCD {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 200px;
  }
  html[data-theme=dark] .rowsABCD .row-AB {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  html[data-theme=dark] .rowsABCD .row-CD {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  html[data-theme=dark] .answerPut {
    width: 300px;
    height: 80px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
  }
  html[data-theme=dark] .answerPut #choice {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4285F4;
    line-height: 80px;
    position: absolute;
    left: 30px;
  }
  html[data-theme=dark] .answerPut .questionAnswerInfos {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 80px;
    text-align: center;
  }
  html[data-theme=dark] .answerPut:hover {
    border-color: #4285F4;
  }
  html[data-theme=dark] .rightAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(58, 205, 126, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
  html[data-theme=dark] .rightAnswer .scos {
    position: absolute;
    display: flex;
    gap: 25px;
    top: 5px;
    left: 5px;
    align-items: center;
  }
  html[data-theme=dark] .rightAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #3ACD7E;
  }
  html[data-theme=dark] .rightAnswer #nextQstnTrue {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #3ACD7E;
    background: none;
    border: none;
    cursor: pointer;
  }
  html[data-theme=dark] .falseAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(234, 67, 53, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html[data-theme=dark] .falseAnswer .scos {
    position: absolute;
    display: flex;
    gap: 25px;
    top: 5px;
    left: 5px;
    align-items: center;
  }
  html[data-theme=dark] .falseAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #EA4335;
  }
  html[data-theme=dark] .falseAnswer #nextQstnFalse {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #EA4335;
    background: none;
    border: none;
    cursor: pointer;
  }
  html[data-theme=dark] .mobile-Note {
    width: 95%;
    padding-top: 20px;
    text-align: end;
  }
  html[data-theme=dark] .mobile-Note svg path {
    fill: #fff;
  }
  html[data-theme=dark] .newNote {
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #232323;
    border-left: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
  }
  html[data-theme=dark] .newNote .noteCount {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
  }
  html[data-theme=dark] .newNote .noteCount #count {
    font-weight: 600;
  }
  html[data-theme=dark] .newNote .head {
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }
  html[data-theme=dark] .newNote .head .close-Popup {
    cursor: pointer;
    justify-self: start;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  html[data-theme=dark] .newNote .head .content {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 26px;
  }
  html[data-theme=dark] .newNote .notSend {
    width: 80%;
    height: 150px;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    padding: 5px;
    position: relative;
  }
  html[data-theme=dark] .newNote .notSend textarea {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    resize: none;
    background: none;
    color: #fff;
  }
  html[data-theme=dark] .newNote .notSend #sendNote {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  html[data-theme=dark] .newNote .myNote {
    width: 80%;
    height: 300px;
    overflow: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
  }
  html[data-theme=dark] .newNote .myNote .note {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  html[data-theme=dark] .newNote .myNote .note .LessonNote {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    max-width: 100%;
    word-break: break-all;
    color: #fff;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar {
    width: 12px;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html[data-theme=dark] .Text {
    font-size: 18px;
    color: #fff;
  }
  html[data-theme=dark] .TextSubject {
    font-size: 18px;
    color: #fff;
  }
}
@media only screen and (max-width: 767px) and (min-width: 401px) {
  html .info {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  html .info #infoVideo {
    width: 100%;
    height: 290px;
  }
  html .info .area {
    width: 60%;
    height: 100%;
  }
  html .info #closeInfo {
    width: 250px;
    height: 70px;
    background-color: rgba(108, 99, 255, 0.2);
    border: 1px solid #6C63FF;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #6C63FF;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s all;
    margin-bottom: 100px;
  }
  html .info #closeInfo:hover {
    background-color: #6C63FF;
    color: #FFFFFF;
  }
  html .info .infoText {
    padding-top: 30px;
    font-size: 18px;
  }
  html .info .infoHeader {
    padding-top: 20px;
    font-size: 20px;
  }
  html .textArea {
    width: 100%;
    height: 300px;
    position: relative;
  }
  html .textArea .textDiv {
    position: absolute;
    width: 300px;
    height: 210px;
    left: calc(50% - 150px);
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }
  html .textArea .textDiv .textAreaCompArea {
    padding-top: 5px;
  }
  html .textArea .textDiv .textAreaCompArea textarea {
    background: none;
    border: none;
    width: 100%;
    height: 120px;
    outline: none;
    font-size: 18px;
  }
  html .textArea .textDiv .sendText {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
  html .rowsABCD {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 200px;
  }
  html .rowsABCD .row-AB {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  html .rowsABCD .row-CD {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  html .answerPut {
    width: 300px;
    height: 80px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
  }
  html .answerPut #choice {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4285F4;
    line-height: 80px;
    position: absolute;
    left: 30px;
  }
  html .answerPut .questionAnswerInfos {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    line-height: 80px;
    text-align: center;
  }
  html .answerPut:hover {
    border-color: #4285F4;
  }
  html .rightAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(58, 205, 126, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
  html .rightAnswer .scos {
    position: absolute;
    display: flex;
    gap: 25px;
    top: 5px;
    left: 5px;
    align-items: center;
  }
  html .rightAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #3ACD7E;
  }
  html .rightAnswer #nextQstnTrue {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #3ACD7E;
    background: none;
    border: none;
    cursor: pointer;
  }
  html .falseAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(234, 67, 53, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html .falseAnswer .scos {
    position: absolute;
    display: flex;
    gap: 25px;
    top: 5px;
    left: 5px;
    align-items: center;
  }
  html .falseAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #EA4335;
  }
  html .falseAnswer #nextQstnFalse {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #EA4335;
    background: none;
    border: none;
    cursor: pointer;
  }
  html .openNote {
    position: absolute;
    right: 25px;
    top: 25%;
  }
  html .openNote svg {
    cursor: pointer;
  }
  html .newNote {
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #FFF;
    border-left: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
  }
  html .newNote .noteCount {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html .newNote .noteCount #count {
    font-weight: 600;
  }
  html .newNote .head {
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }
  html .newNote .head .close-Popup {
    cursor: pointer;
    justify-self: start;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  html .newNote .head .content {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 26px;
  }
  html .newNote .notSend {
    width: 80%;
    height: 150px;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    padding: 5px;
    position: relative;
  }
  html .newNote .notSend textarea {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    resize: none;
  }
  html .newNote .notSend #sendNote {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  html .newNote .myNote {
    width: 80%;
    height: 300px;
    overflow: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
  }
  html .newNote .myNote .note {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  html .newNote .myNote .note .LessonNote {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    max-width: 100%;
    word-break: break-all;
  }
  html .newNote .myNote::-webkit-scrollbar {
    width: 12px;
  }
  html .newNote .myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html .newNote .myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html .Text {
    font-size: 22px;
  }
  html .TextSubject {
    font-size: 22px;
  }
  html[data-theme=dark] {
    background: #232323;
  }
  html[data-theme=dark] .info {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  html[data-theme=dark] .info #infoVideo {
    width: 100%;
    height: 290px;
  }
  html[data-theme=dark] .info .area {
    width: 60%;
    height: 100%;
  }
  html[data-theme=dark] .info #closeInfo {
    width: 250px;
    height: 70px;
    background-color: rgba(108, 99, 255, 0.2);
    border: 1px solid #6C63FF;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #6C63FF;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s all;
    margin-bottom: 100px;
  }
  html[data-theme=dark] .info #closeInfo:hover {
    background-color: #6C63FF;
    color: #FFFFFF;
  }
  html[data-theme=dark] .info .infoText {
    padding-top: 30px;
    font-size: 18px;
  }
  html[data-theme=dark] .info .infoHeader {
    padding-top: 20px;
    font-size: 20px;
  }
  html[data-theme=dark] .textArea {
    width: 100%;
    height: 300px;
    position: relative;
  }
  html[data-theme=dark] .textArea .textDiv {
    position: absolute;
    width: 300px;
    height: 210px;
    left: calc(50% - 150px);
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }
  html[data-theme=dark] .textArea .textDiv .textAreaCompArea {
    padding-top: 5px;
  }
  html[data-theme=dark] .textArea .textDiv .textAreaCompArea textarea {
    background: none;
    border: none;
    width: 100%;
    height: 120px;
    outline: none;
    font-size: 18px;
    color: #fff;
  }
  html[data-theme=dark] .textArea .textDiv .sendText {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
  html[data-theme=dark] .rowsABCD {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 200px;
  }
  html[data-theme=dark] .rowsABCD .row-AB {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  html[data-theme=dark] .rowsABCD .row-CD {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  html[data-theme=dark] .answerPut {
    width: 300px;
    height: 80px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
  }
  html[data-theme=dark] .answerPut #choice {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4285F4;
    line-height: 80px;
    position: absolute;
    left: 30px;
  }
  html[data-theme=dark] .answerPut .questionAnswerInfos {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 80px;
    text-align: center;
  }
  html[data-theme=dark] .answerPut:hover {
    border-color: #4285F4;
  }
  html[data-theme=dark] .rightAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(58, 205, 126, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
  }
  html[data-theme=dark] .rightAnswer .scos {
    position: absolute;
    display: flex;
    gap: 25px;
    top: 5px;
    left: 5px;
    align-items: center;
  }
  html[data-theme=dark] .rightAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #3ACD7E;
  }
  html[data-theme=dark] .rightAnswer #nextQstnTrue {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #3ACD7E;
    background: none;
    border: none;
    cursor: pointer;
  }
  html[data-theme=dark] .falseAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(234, 67, 53, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html[data-theme=dark] .falseAnswer .scos {
    position: absolute;
    display: flex;
    gap: 25px;
    top: 5px;
    left: 5px;
    align-items: center;
  }
  html[data-theme=dark] .falseAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #EA4335;
  }
  html[data-theme=dark] .falseAnswer #nextQstnFalse {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #EA4335;
    background: none;
    border: none;
    cursor: pointer;
  }
  html[data-theme=dark] .openNote {
    position: absolute;
    right: 25px;
    top: 25%;
  }
  html[data-theme=dark] .openNote svg {
    cursor: pointer;
  }
  html[data-theme=dark] .newNote {
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #232323;
    border-left: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
  }
  html[data-theme=dark] .newNote .noteCount {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
  }
  html[data-theme=dark] .newNote .noteCount #count {
    font-weight: 600;
  }
  html[data-theme=dark] .newNote .head {
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }
  html[data-theme=dark] .newNote .head .close-Popup {
    cursor: pointer;
    justify-self: start;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  html[data-theme=dark] .newNote .head .content {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 26px;
  }
  html[data-theme=dark] .newNote .notSend {
    width: 80%;
    height: 150px;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    padding: 5px;
    position: relative;
  }
  html[data-theme=dark] .newNote .notSend textarea {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    resize: none;
    background: none;
    color: #fff;
  }
  html[data-theme=dark] .newNote .notSend #sendNote {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  html[data-theme=dark] .newNote .myNote {
    width: 80%;
    height: 300px;
    overflow: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
  }
  html[data-theme=dark] .newNote .myNote .note {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  html[data-theme=dark] .newNote .myNote .note .LessonNote {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    max-width: 100%;
    word-break: break-all;
    color: #fff;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar {
    width: 12px;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html[data-theme=dark] .Text {
    font-size: 22px;
  }
  html[data-theme=dark] .TextSubject {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 767px) {
  html .info {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  html .info #infoVideo {
    width: 100%;
    height: 370px;
  }
  html .info .area {
    width: 60%;
    height: 100%;
  }
  html .info #closeInfo {
    width: 300px;
    height: 80px;
    background-color: rgba(108, 99, 255, 0.2);
    border: 1px solid #6C63FF;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #6C63FF;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s all;
  }
  html .info #closeInfo:hover {
    background-color: #6C63FF;
    color: #FFFFFF;
  }
  html .info .infoText {
    padding-top: 30px;
    font-size: 18px;
  }
  html .info .infoHeader {
    padding-top: 20px;
    font-size: 20px;
  }
  html .rowsABCD {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 200px;
  }
  html .rowsABCD .row-AB {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  html .rowsABCD .row-CD {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  html .answerPut {
    width: 300px;
    height: 80px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
  }
  html .answerPut #choice {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4285F4;
    line-height: 80px;
    position: absolute;
    left: 30px;
  }
  html .answerPut .questionAnswerInfos {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    line-height: 80px;
    text-align: center;
  }
  html .answerPut:hover {
    border-color: #4285F4;
  }
  html .textArea {
    width: 100%;
    height: 300px;
    position: relative;
  }
  html .textArea .textDiv {
    position: absolute;
    width: 700px;
    height: 210px;
    left: calc(50% - 350px);
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }
  html .textArea .textDiv .textAreaCompArea {
    padding-top: 5px;
  }
  html .textArea .textDiv .textAreaCompArea textarea {
    background: none;
    border: none;
    width: 100%;
    height: 120px;
    outline: none;
    font-size: 18px;
  }
  html .textArea .textDiv .sendText {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
  html .rightAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(58, 205, 126, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html .rightAnswer .scos {
    display: flex;
    gap: 100px;
    align-items: center;
  }
  html .rightAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #3ACD7E;
  }
  html .rightAnswer #nextQstnTrue {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #3ACD7E;
    background: none;
    border: none;
    cursor: pointer;
  }
  html .falseAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(234, 67, 53, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html .falseAnswer .scos {
    display: flex;
    gap: 100px;
    align-items: center;
  }
  html .falseAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #EA4335;
  }
  html .falseAnswer #nextQstnFalse {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #EA4335;
    background: none;
    border: none;
    cursor: pointer;
  }
  html .openNote {
    position: fixed;
    right: 120px;
    top: 20%;
  }
  html .openNote svg {
    cursor: pointer;
  }
  html .newNote {
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #FFF;
    width: 425px;
    height: 500px;
    right: 0;
    top: 100px;
    border-left: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
  }
  html .newNote .head {
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }
  html .newNote .head .close-Popup {
    cursor: pointer;
    justify-self: start;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  html .newNote .head .content {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 26px;
  }
  html .newNote .notSend {
    width: 80%;
    height: 150px;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    padding: 5px;
    position: relative;
  }
  html .newNote .notSend textarea {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    resize: none;
  }
  html .newNote .notSend #sendNote {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  html .newNote .myNote {
    width: 80%;
    height: 150px;
    overflow: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
  }
  html .newNote .myNote .noteCount {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html .newNote .myNote .noteCount #count {
    font-weight: 600;
  }
  html .newNote .myNote .note {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  html .newNote .myNote .note .LessonNote {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    max-width: 100%;
    word-break: break-all;
  }
  html .newNote .myNote::-webkit-scrollbar {
    width: 12px;
  }
  html .newNote .myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html .newNote .myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html .Text {
    font-size: 24px;
  }
  html .TextSubject {
    font-size: 24px;
  }
  html[data-theme=dark] {
    background: #232323;
  }
  html[data-theme=dark] .info {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  html[data-theme=dark] .info #infoVideo {
    width: 100%;
    height: 370px;
  }
  html[data-theme=dark] .info .area {
    width: 60%;
    height: 100%;
  }
  html[data-theme=dark] .info #closeInfo {
    width: 300px;
    height: 80px;
    background-color: rgba(108, 99, 255, 0.2);
    border: 1px solid #6C63FF;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #6C63FF;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s all;
  }
  html[data-theme=dark] .info #closeInfo:hover {
    background-color: #6C63FF;
    color: #FFFFFF;
  }
  html[data-theme=dark] .info .infoText {
    padding-top: 30px;
    font-size: 18px;
  }
  html[data-theme=dark] .info .infoHeader {
    padding-top: 20px;
    font-size: 20px;
  }
  html[data-theme=dark] .rowsABCD {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 200px;
  }
  html[data-theme=dark] .rowsABCD .row-AB {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  html[data-theme=dark] .rowsABCD .row-CD {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  html[data-theme=dark] .answerPut {
    width: 300px;
    height: 80px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
  }
  html[data-theme=dark] .answerPut #choice {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4285F4;
    line-height: 80px;
    position: absolute;
    left: 30px;
  }
  html[data-theme=dark] .answerPut .questionAnswerInfos {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 80px;
    text-align: center;
  }
  html[data-theme=dark] .answerPut:hover {
    border-color: #4285F4;
  }
  html[data-theme=dark] .textArea {
    width: 100%;
    height: 300px;
    position: relative;
  }
  html[data-theme=dark] .textArea .textDiv {
    position: absolute;
    width: 700px;
    height: 210px;
    left: calc(50% - 350px);
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }
  html[data-theme=dark] .textArea .textDiv .textAreaCompArea {
    padding-top: 5px;
  }
  html[data-theme=dark] .textArea .textDiv .textAreaCompArea textarea {
    background: none;
    border: none;
    width: 100%;
    height: 120px;
    outline: none;
    font-size: 18px;
    color: #fff;
  }
  html[data-theme=dark] .textArea .textDiv .sendText {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
  html[data-theme=dark] .rightAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(58, 205, 126, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html[data-theme=dark] .rightAnswer .scos {
    display: flex;
    gap: 100px;
    align-items: center;
  }
  html[data-theme=dark] .rightAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #3ACD7E;
  }
  html[data-theme=dark] .rightAnswer #nextQstnTrue {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #3ACD7E;
    background: none;
    border: none;
    cursor: pointer;
  }
  html[data-theme=dark] .falseAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(234, 67, 53, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html[data-theme=dark] .falseAnswer .scos {
    display: flex;
    gap: 100px;
    align-items: center;
  }
  html[data-theme=dark] .falseAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #EA4335;
  }
  html[data-theme=dark] .falseAnswer #nextQstnFalse {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #EA4335;
    background: none;
    border: none;
    cursor: pointer;
  }
  html[data-theme=dark] .openNote {
    position: fixed;
    right: 120px;
    top: 20%;
  }
  html[data-theme=dark] .openNote svg {
    cursor: pointer;
  }
  html[data-theme=dark] .newNote {
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #232323;
    width: 425px;
    height: 500px;
    right: 0;
    top: 100px;
    border-left: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
  }
  html[data-theme=dark] .newNote .head {
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }
  html[data-theme=dark] .newNote .head .close-Popup {
    cursor: pointer;
    justify-self: start;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  html[data-theme=dark] .newNote .head .content {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 26px;
  }
  html[data-theme=dark] .newNote .notSend {
    width: 80%;
    height: 150px;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    padding: 5px;
    position: relative;
  }
  html[data-theme=dark] .newNote .notSend textarea {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    resize: none;
    color: #fff;
    background: none;
  }
  html[data-theme=dark] .newNote .notSend #sendNote {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  html[data-theme=dark] .newNote .myNote {
    width: 80%;
    height: 150px;
    overflow: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
  }
  html[data-theme=dark] .newNote .myNote .noteCount {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
  }
  html[data-theme=dark] .newNote .myNote .noteCount #count {
    font-weight: 600;
  }
  html[data-theme=dark] .newNote .myNote .note {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  html[data-theme=dark] .newNote .myNote .note .LessonNote {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    max-width: 100%;
    word-break: break-all;
    color: #fff;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar {
    width: 12px;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html[data-theme=dark] .Text {
    font-size: 24px;
  }
  html[data-theme=dark] .TextSubject {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1920px) {
  html .info {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  html .info #infoVideo {
    width: 900px;
    height: 450px;
  }
  html .info .area {
    width: 900px;
  }
  html .info #closeInfo {
    width: 300px;
    height: 80px;
    background-color: rgba(108, 99, 255, 0.2);
    border: 1px solid #6C63FF;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #6C63FF;
    font-size: 26px;
    cursor: pointer;
    transition: 0.3s all;
  }
  html .info #closeInfo:hover {
    background-color: #6C63FF;
    color: #FFFFFF;
  }
  html .infoText {
    padding-top: 30px;
    font-size: 18px;
  }
  html .infoHeader {
    padding-top: 20px;
    font-size: 20px;
  }
  html .Text {
    font-size: 26px;
  }
  html .TextSubject {
    font-size: 26px;
  }
  html .rowsABCD {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 200px;
  }
  html .rowsABCD .row-AB {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  html .rowsABCD .row-CD {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  html .answerPut {
    width: 300px;
    height: 80px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
  }
  html .answerPut #choice {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4285F4;
    line-height: 80px;
    position: absolute;
    left: 30px;
  }
  html .answerPut .questionAnswerInfos {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    line-height: 80px;
    text-align: center;
  }
  html .answerPut:hover {
    border-color: #4285F4;
  }
  html .textArea {
    width: 100%;
    height: 300px;
    position: relative;
  }
  html .textArea .textDiv {
    position: absolute;
    width: 700px;
    height: 210px;
    left: calc(50% - 350px);
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }
  html .textArea .textDiv .textAreaCompArea {
    padding-top: 5px;
  }
  html .textArea .textDiv .textAreaCompArea textarea {
    background: none;
    border: none;
    width: 100%;
    height: 120px;
    outline: none;
    font-size: 18px;
  }
  html .textArea .textDiv .sendText {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
  html .rightAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(58, 205, 126, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html .rightAnswer .scos {
    display: flex;
    gap: 100px;
    align-items: center;
  }
  html .rightAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #3ACD7E;
  }
  html .rightAnswer #nextQstnTrue {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #3ACD7E;
    background: none;
    border: none;
    cursor: pointer;
  }
  html .falseAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(234, 67, 53, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html .falseAnswer .scos {
    display: flex;
    gap: 100px;
    align-items: center;
  }
  html .falseAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #EA4335;
  }
  html .falseAnswer #nextQstnFalse {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #EA4335;
    background: none;
    border: none;
    cursor: pointer;
  }
  html .openNote {
    position: fixed;
    right: 120px;
    top: 50%;
  }
  html .openNote svg {
    cursor: pointer;
  }
  html .newNote {
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 475px;
    height: 650px;
    right: 0;
    top: 100px;
    border-left: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
  }
  html .newNote .noteCount {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html .newNote .noteCount #count {
    font-weight: 600;
  }
  html .newNote .head {
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }
  html .newNote .head .close-Popup {
    cursor: pointer;
    justify-self: start;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  html .newNote .head .content {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 26px;
  }
  html .newNote .notSend {
    width: 80%;
    height: 150px;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    padding: 5px;
    position: relative;
  }
  html .newNote .notSend textarea {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    resize: none;
  }
  html .newNote .notSend #sendNote {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  html .newNote .myNote {
    width: 80%;
    height: 300px;
    overflow: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
  }
  html .newNote .myNote .note {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  html .newNote .myNote .note .LessonNote {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    max-width: 100%;
    word-break: break-all;
  }
  html .newNote .myNote::-webkit-scrollbar {
    width: 12px;
  }
  html .newNote .myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html .newNote .myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html[data-theme=dark] {
    background: #232323;
  }
  html[data-theme=dark] .info {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  html[data-theme=dark] .info #infoVideo {
    width: 900px;
    height: 450px;
  }
  html[data-theme=dark] .info .area {
    width: 900px;
  }
  html[data-theme=dark] .info #closeInfo {
    width: 300px;
    height: 80px;
    background-color: rgba(108, 99, 255, 0.2);
    border: 1px solid #6C63FF;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #6C63FF;
    font-size: 26px;
    cursor: pointer;
    transition: 0.3s all;
  }
  html[data-theme=dark] .info #closeInfo:hover {
    background-color: #6C63FF;
    color: #FFFFFF;
  }
  html[data-theme=dark] .infoText {
    padding-top: 30px;
    font-size: 18px;
    color: #fff;
  }
  html[data-theme=dark] .infoHeader {
    padding-top: 20px;
    font-size: 20px;
  }
  html[data-theme=dark] .Text {
    font-size: 26px;
    color: rgb(58, 205, 126);
  }
  html[data-theme=dark] .TextSubject {
    font-size: 26px;
    color: #fff;
  }
  html[data-theme=dark] .rowsABCD {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 200px;
  }
  html[data-theme=dark] .rowsABCD .row-AB {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  html[data-theme=dark] .rowsABCD .row-CD {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
  }
  html[data-theme=dark] .answerPut {
    width: 300px;
    height: 80px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: 0.5s all;
  }
  html[data-theme=dark] .answerPut #choice {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #4285F4;
    line-height: 80px;
    position: absolute;
    left: 30px;
  }
  html[data-theme=dark] .answerPut .questionAnswerInfos {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 80px;
    text-align: center;
    color: #fff;
  }
  html[data-theme=dark] .answerPut:hover {
    border-color: #4285F4;
  }
  html[data-theme=dark] .textArea {
    width: 100%;
    height: 300px;
    position: relative;
  }
  html[data-theme=dark] .textArea .textDiv {
    position: absolute;
    width: 700px;
    height: 210px;
    left: calc(50% - 350px);
    border: 1px solid #DBDBDB;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
  }
  html[data-theme=dark] .textArea .textDiv .textAreaCompArea {
    padding-top: 5px;
  }
  html[data-theme=dark] .textArea .textDiv .textAreaCompArea textarea {
    background: none;
    border: none;
    width: 100%;
    height: 120px;
    outline: none;
    font-size: 18px;
  }
  html[data-theme=dark] .textArea .textDiv .sendText {
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
  }
  html[data-theme=dark] .subject, html[data-theme=dark] .level, html[data-theme=dark] .text, html[data-theme=dark] .textAreaCompArea textarea, html[data-theme=dark] .dragLetter {
    color: #fff;
  }
  html[data-theme=dark] .controlDrag {
    background: none;
  }
  html[data-theme=dark] .rightAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(58, 205, 126, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html[data-theme=dark] .rightAnswer .scos {
    display: flex;
    gap: 100px;
    align-items: center;
  }
  html[data-theme=dark] .rightAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #3ACD7E;
  }
  html[data-theme=dark] .rightAnswer #nextQstnTrue {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #3ACD7E;
    background: none;
    border: none;
    cursor: pointer;
  }
  html[data-theme=dark] .falseAnswer {
    width: 100%;
    height: 150px;
    background-color: rgba(234, 67, 53, 0.1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  html[data-theme=dark] .falseAnswer .scos {
    display: flex;
    gap: 100px;
    align-items: center;
  }
  html[data-theme=dark] .falseAnswer .scos .message {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #EA4335;
  }
  html[data-theme=dark] .falseAnswer #nextQstnFalse {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #EA4335;
    background: none;
    border: none;
    cursor: pointer;
  }
  html[data-theme=dark] .openNote {
    position: fixed;
    right: 120px;
    top: 50%;
  }
  html[data-theme=dark] .openNote svg {
    cursor: pointer;
  }
  html[data-theme=dark] .newNote {
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 475px;
    height: 650px;
    right: 0;
    top: 100px;
    background: #232323;
    border-left: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
  }
  html[data-theme=dark] .newNote .noteCount {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
  }
  html[data-theme=dark] .newNote .noteCount #count {
    font-weight: 600;
  }
  html[data-theme=dark] .newNote .head {
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }
  html[data-theme=dark] .newNote .head .close-Popup {
    cursor: pointer;
    justify-self: start;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  html[data-theme=dark] .newNote .head .content {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 26px;
  }
  html[data-theme=dark] .newNote .notSend {
    width: 80%;
    height: 150px;
    border: 1px solid #CBCBCB;
    border-radius: 10px;
    padding: 5px;
    position: relative;
  }
  html[data-theme=dark] .newNote .notSend textarea {
    width: 100%;
    height: 80%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    resize: none;
    background: none;
    color: #fff;
  }
  html[data-theme=dark] .newNote .notSend #sendNote {
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
  html[data-theme=dark] .newNote .myNote {
    width: 80%;
    height: 300px;
    overflow: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
  }
  html[data-theme=dark] .newNote .myNote .note {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  html[data-theme=dark] .newNote .myNote .note .LessonNote {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    max-width: 100%;
    word-break: break-all;
    color: #fff;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar {
    width: 12px;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html[data-theme=dark] .newNote .myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
}
@media only screen and (min-width: 1921px) {
  .info {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .info #infoVideo {
    width: 100%;
    height: 500px;
  }
  .info .area {
    width: 50%;
    height: 100%;
  }
  .info #closeInfo {
    width: 400px;
    height: 100px;
    background-color: rgba(108, 99, 255, 0.2);
    border: 1px solid #6C63FF;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #6C63FF;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s all;
  }
  .info #closeInfo:hover {
    background-color: #6C63FF;
    color: #FFFFFF;
  }
  .info .infoText {
    padding-top: 30px;
    font-size: 22px;
  }
  .info .infoHeader {
    padding-top: 20px;
    font-size: 24px;
  }
  .Text {
    font-size: 32px;
  }
  .TextSubject {
    font-size: 28px;
  }
  .header div {
    width: 200px;
    text-align: center;
  }
}/*# sourceMappingURL=lesson.css.map */