@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
html #notHead {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 5%;
}

html[data-theme=dark] #notHead {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-top: 20px;
  padding-left: 5%;
  color: #fff;
}

@media only screen and (max-width: 400px) {
  html .myNots {
    gap: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html .myNots #myNote {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow: auto;
  }
  html .myNots #myNote::-webkit-scrollbar {
    width: 12px;
  }
  html .myNots #myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html .myNots #myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html .myNots #myNote .myNoteSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
  }
  html .myNots #myNote .myNoteSection .noteSubject {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html .myNots #myNote #lessonCapiFeminizm {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #EAAF03;
  }
  html .closedStatus {
    width: 100%;
    height: 150px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
  }
  html[data-theme=dark] {
    background: #232323;
  }
  html[data-theme=dark] .myNots {
    gap: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html[data-theme=dark] .myNots #myNote {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow: auto;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar {
    width: 12px;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html[data-theme=dark] .myNots #myNote .myNoteSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
  }
  html[data-theme=dark] .myNots #myNote .myNoteSection .noteSubject {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html[data-theme=dark] .myNots #myNote #lessonCapiFeminizm {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #EAAF03;
  }
  html[data-theme=dark] .closedStatus {
    width: 100%;
    height: 150px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 401px) {
  html .myNots {
    gap: 50px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html .myNots #myNote {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow: auto;
  }
  html .myNots #myNote::-webkit-scrollbar {
    width: 12px;
  }
  html .myNots #myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html .myNots #myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html .myNots #myNote .myNoteSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
  }
  html .myNots #myNote .myNoteSection .noteSubject {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html .myNots #myNote #lessonCapiFeminizm {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #EAAF03;
  }
  html .closedStatus {
    width: 320px;
    height: 180px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
  }
  html .closedStatus #arrow {
    width: 36px;
  }
  html[data-theme=dark] {
    background: #232323;
  }
  html[data-theme=dark] .myNots {
    gap: 50px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html[data-theme=dark] .myNots #myNote {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow: auto;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar {
    width: 12px;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html[data-theme=dark] .myNots #myNote .myNoteSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
  }
  html[data-theme=dark] .myNots #myNote .myNoteSection .noteSubject {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html[data-theme=dark] .myNots #myNote #lessonCapiFeminizm {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #EAAF03;
  }
  html[data-theme=dark] .closedStatus {
    width: 320px;
    height: 180px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
  }
  html[data-theme=dark] .closedStatus #arrow {
    width: 36px;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 767px) {
  html .myNots {
    gap: 100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html .myNots #myNote {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow: auto;
  }
  html .myNots #myNote::-webkit-scrollbar {
    width: 12px;
  }
  html .myNots #myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html .myNots #myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html .myNots #myNote .myNoteSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
  }
  html .myNots #myNote .myNoteSection .noteSubject {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html .myNots #myNote #lessonCapiFeminizm {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #EAAF03;
  }
  html .closedStatus {
    width: 450px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
  }
  html[data-theme=dark] {
    background: #232323;
  }
  html[data-theme=dark] .myNots {
    gap: 100px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html[data-theme=dark] .myNots #myNote {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow: auto;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar {
    width: 12px;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html[data-theme=dark] .myNots #myNote .myNoteSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
  }
  html[data-theme=dark] .myNots #myNote .myNoteSection .noteSubject {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html[data-theme=dark] .myNots #myNote #lessonCapiFeminizm {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #EAAF03;
  }
  html[data-theme=dark] .closedStatus {
    width: 450px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
  }
}
@media only screen and (min-width: 1920px) {
  html .myNots {
    gap: 150px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    justify-content: center;
  }
  html .myNots:last-child {
    justify-content: start;
  }
  html .myNots #myNote {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow: auto;
  }
  html .myNots #myNote::-webkit-scrollbar {
    width: 12px;
  }
  html .myNots #myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html .myNots #myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html .myNots #myNote .myNoteSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
  }
  html .myNots #myNote .myNoteSection .noteSubject {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html .myNots #myNote #lessonCapiFeminizm {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #EAAF03;
  }
  html .closedStatus {
    width: 450px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
  }
  html[data-theme=dark] .myNots {
    gap: 150px;
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    justify-content: center;
  }
  html[data-theme=dark] .myNots:last-child {
    justify-content: start;
  }
  html[data-theme=dark] .myNots #myNote {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow: auto;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar {
    width: 12px;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #DDDDDD;
  }
  html[data-theme=dark] .myNots #myNote::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #cbcbcb;
  }
  html[data-theme=dark] .myNots #myNote .myNoteSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
  }
  html[data-theme=dark] .myNots #myNote .myNoteSection .noteSubject {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  html[data-theme=dark] .myNots #myNote #lessonCapiFeminizm {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #EAAF03;
  }
  html[data-theme=dark] .closedStatus {
    width: 450px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
  }
}/*# sourceMappingURL=nots.css.map */